<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
</head>
<body>
    {{ status }}
    <form action="upload/" method="post">
    {% csrf_token %}
        <label for="file_dir">file directory</label>
        <input type="text" name="file_dir" style="width: 700px;" value="your file dir here" />
        <input type="submit" value="upload" />
    </form>
    <form action="/dataset/" method="get">
    {% csrf_token %}
        <label for="data_name">dataset name:</label>
        <input type="text" name="data_name" value="1491_one_hundred_plants_margin" style="width: 200px;"/>
        <input type="submit" value="get data" />
    </form>
    <form action="/login/" method="post">
    {% csrf_token %}
        <label for="username">username:</label>
        <input type="text" name="username" value="tong" style="width: 200px;"/>
        <label for="password">password:</label>
        <input type="text" name="password" value="abcd12345678" style="width: 200px;"/>
        <input type="submit" value="login" />
    </form>
</body>
</html>